# Auto detect text files and perform LF normalization
* text=auto

# Ignore les fichiers générés pour les stats de langage
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored